circle45 {
          animation: animatecircle45 infinite linear;
          animation-delay: random() + s;
          animation-duration: random() + s;
        }
        @keyframes animatecircle45 {
          0% {
            transform: translate(75.217756px, 59.834839px);
            fill: white;
            opacity: 0;
          } 23% {
            transform: translate(77.693961px, 57.358634px);
            
            
          } 32% {
            
            
            opacity: 1;
          } 73% {
            transform: translate(85.360927px, 57.358634px);
            
            
          } 77% {
            
            
            opacity: 1;
          } 97% {
            transform: translate(87.925813px, 54.793748px);
            
            
          } 100% {
            
            fill: white;
            opacity: 0;
          }
        }