#circle45 {
          animation: animatecircle45 1000.00ms infinite linear
        }
        @keyframes animatecircle45 {
          900.00%, 0% {
            transform: translate(75.217756px, 59.834839px);
            fill: white;
            opacity: 0;
          } 902.30% {
            transform: translate(77.693961px, 57.358634px);
            
            
          } 903.20% {
            
            
            opacity: 1;
          } 907.30% {
            transform: translate(85.360927px, 57.358634px);
            
            
          } 907.70% {
            
            
            opacity: 1;
          } 910.00%, 100% {
            transform: translate(87.925813px, 54.793748px);
            fill: white;
            opacity: 0;
          }
        }