@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
--color: #070707;
--color-primary: #151515;
--color-secondary: #151515;
--color-hover: #252525;
--bg: #DDDDDD;
--bg-primary: #FFFFFF;
--bg-secondary: #CCCCCC;
--bg-hover: #EEEEEE;
}

.dark {
--color: #DDDDDD;
--color-primary: #FFFFFF;
--color-secondary: #CCCCCC;
--bg: #070707;
--bg-primary: #151515;
--bg-secondary: #151515;
--bg-hover: #252525;
}

html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}